body {
    font-family: Arial;
    margin: 0 auto;
}

header {
    padding: 1rem
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
}

nav {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 2rem
}

.text_nav {
    color: white;
    text-decoration: none;
}

.div_nav_compras {
    display: flex;
    gap: 0.2rem;
}

.text_nav_carrinho {
    color: white;
    text-decoration: none;
    padding-right: 1.5rem;
}

.img_nav {
    width: 20px;
}

section {
    margin: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
}

.card {
    width: 12rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desc_card {
    text-align: center;
}

.preco_card {
    text-align: center;
}

.compra_card {
    color: black;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
}