body {
    font-family: Arial;
    margin: 0 auto;
}

nav {
    background-color: black;
    margin: 0 auto;
}

ul {
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    padding: 0.5rem 1rem;
}

ul li a {
    text-decoration: none;
    color: white;
}

header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header div {
    display: flex;
    justify-content: center;
}

header h2 {
    text-align: center;
    position: absolute;
    font-size: 10rem;
    color: white;
}

header img {
    margin: 0 auto;
    width: 100%;
    height: 70vh;
}

section {
    padding: 1rem 1rem
}


.container_pizzas {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem
}

.cont_pizza {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preco_pizza {
    font-size: 1.3rem;
    color: white;
    padding: 0.3rem;
    background-color: gray;
    border-radius: 5px;
}

footer {
    padding: 2rem 0;
    background-color: lightgray;
}

footer h3 {
    text-align: center;
    font-size: 2rem;
}

footer p {
    text-align: center;
}