<h1 class="Titulo-header">Bem-vindo ao Meu Portfólio</h1>
<nav class="nav-header">
    <ul class="header-list-container">
        <li><a class="list-item-text" href="index.html">Home</a></li>
        <li><a class="list-item-text" href="sobre.html">Sobre</a></li>
        <li><a class="list-item-text" href="contato.html">Contato</a></li>
        <li><a class="list-item-text" href="habilidades.html">Habilidades</a></li>
        <li><a class="list-item-text" href="curriculo.html">Curriculo</a></li>
    </ul>
</nav>